.vscode/settings.json
.vscode/c_cpp_properties.json
/CppProperties.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Operating-Systems-4029/FileContentIndex/3a8ae633-cce9-429b-a58c-2582b5996692.vsidx
.vs/Operating-Systems-4029/FileContentIndex/f1a11231-67a5-45f3-b6ff-cf7d93500147.vsidx
.vs/Operating-Systems-4029/FileContentIndex/fb9ae80f-918b-4fde-a358-1f1b76fd2e02.vsidx
.vs/Operating-Systems-4029/FileContentIndex/read.lock
.vs/Operating-Systems-4029/v17/.wsuo
.vs/Operating-Systems-4029/v17/Browse.VC.db
.vscode/tasks.json
*.exe